repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: trailing-whitespace

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks

  - repo: local
    hooks:
      - id: go-test
        name: Run Go tests
        entry: bash -c 'go test -v ./...'
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit, pre-push]

      - id: golangci-lint-full
        name: golangci-lint-full
        description: Fast linters runner for Go. Runs on all files in the module. Use this hook if you use pre-commit in CI.
        entry: golangci-lint run --fix
        types: [go]
        language: golang
        require_serial: true
        pass_filenames: false
