services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
      - "9090:9090"
    # environment:
    #   - FIBO_DEBUG=true
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 128M
