name: Build

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  docker:
    name: Docker image
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build
        uses: docker/build-push-action@v6
        with:
          file: ./docker/Dockerfile
          push: false
          tags: "majabojarska/fibo:${{ github.base_ref }}"
